.App {
  height: 100%;
  background-color: #afd4c0;
}

.Header {
  display: block;
  height: 15vh;
  background-color: #519872;
}

.dash-heading {
  margin-left: 10vh;
}

.add-property {
  margin-left: 70vh;
  height: 6vh;
  width: 20vh;
  background-color: #8aea92;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 130vh;
  margin-left: 40.5vh;
  background-color: #e5f4ec;
}

h4 {
  float: left;
}

.container1,
.container {
  background-color: #e5f4ec;
  width: 130vh;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* position: relative; */
  flex-direction: column;
}

.house-container {
  border: 5vh;
  height: 50vh;
}

.listing-container {
  width: 100vh;

  display: flex;
  padding-left: 5vh;
  /* padding-bottom: 2vh; */
  background-color: #dedede;
}

/* .listing-container,
h4 {
  background-color: #dedede;
} */
.dashboard {
  background-color: #afd4c0;
  display: flex;
  justify-content: center;
}

.edit-button {
  /* float: bottom; */
  /* position: absolute;
  bottom: 0; */
  right: 0;
  width: 15vh;
  height: 4vh;
  background-color: #fec2c2;
}

.delete {
  width: 15vh;
  height: 4vh;
  background-color: #fec2c2;
  margin-right: 4vh;
}
